In [1]:
import pandas as pd
 
# Importamos a biblioteca

In [2]:
df_country = pd.read_csv('dados/country.csv')

# Lendo o DF

In [3]:
df_city = pd.read_csv('dados/city.csv')
# Lendo o outro DF

In [4]:
df_final = pd.merge(df_country, df_city, on='pais_id', how='inner')

# Fazendo o JOIN entre os DF, sendo (pd.merge(df1, df2, on='coluna_em_comum', how='tipo_de_join'))

In [5]:
df_final

# Vizualizando o resultado final

     pais_id            pais  id_cidade      cidade
0          1     Afghanistan        251       Kabul
1          2         Algeria         59       Batna
2          2         Algeria         63      Béchar
3          2         Algeria        483      Skikda
4          3  American Samoa        516      Tafuna
..       ...             ...        ...         ...
595      107           Yemen        455       Sanaa
596      107           Yemen        518       Taizz
597      108      Yugoslavia        280  Kragujevac
598      108      Yugoslavia        368    Novi Sad
599      109          Zambia        272       Kitwe

[600 rows x 4 columns]

In [6]:
df_final.to_csv('dados/final.csv', index=False)

# Salvando o DF final